<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Products</title>
    <link th:replace="~{_fragments::#bootstrap_link}"/>
</head>
<body>

<header th:replace="~{_fragments :: header}"></header>

<section>
    <div class="container">
        <h2>Products</h2>
        <p th:each="el: ${list}">
            <a th:href="@{|/products/${el.getId()}|}" th:with="style=(${el.archived} ? 'color:gray' : '')">
                <span th:style="${style}">
                    <span th:text="${el.getId()}">product id</span>.
                    <span th:text="${el.getName()}">product name</span>
                </span>
            </a>
        </p>
        <hr>
        <a th:href="@{/products/new}">New product</a>
    </div>
</section>

</body>
</html>