<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product form</title>
</head>
<body>
<h1>Music Shop</h1>
<p><a th:href="@{/}">Welcome to Music Shop</a></p>
<hr>
<h2 th:text="${product.getName == null} ? 'New product' : ${product.getName}">
    Product name
</h2>
<th th:with="
type=${product.getName() == null} ? 'create' : 'update',
actionCreate='/products',
actionUpdate=('/products/' + ${product.getId}),
actionUrl=(${type == 'create'} ? ${actionCreate} : ${actionUpdate}),
method=(${type == 'create'} ? 'post' : 'patch')
">
    <form action="#"
          th:action="@{${actionUrl}}"
          th:object="${product}"
          method="post"
          th:method="@{${method}}">
        <p>
            <label for="name">Name:</label>
            <input type="text" id="name" th:field="*{name}">
        </p>
        <p>
            <label for="description">Description:</label>
            <textarea id="description" th:field="*{description}" th:text="${product.getDescription}"></textarea>
        </p>
        <p>
            <label for="price">Price:</label>
            <input type="number" step="0.01" max="99999999.99" id="price" th:field="*{price}">
        </p>
        <p>
            <label for="amount">Amount:</label>
            <input type="number" step="1" max="100000" id="amount" th:field="*{amount}">
        </p>
        <p>
            <label for="units_sold">Units sold:</label>
            <input type="number" step="1" max="100000" id="units_sold" th:field="*{unitsSold}">
        </p>
        <p>
            <label for="is_archived">Is archived:</label>
            <input type="checkbox" id="is_archived" th:field="*{isArchived}">
        </p>
        <p>
            <label for="manufacturer">Manufacturer:</label>
            <select th:field="*{manufacturer}" id="manufacturer">
                <option th:each="manufacturer : ${manufacturers}"
                        th:value="${manufacturer.getId}"
                        th:text="${manufacturer.getName}"
                        th:selected="${manufacturer.getId == product.getManufacturer?.getId}"></option>
            </select>
        </p>
        <p>
            <label for="product_type">Product type:</label>
            <select th:field="*{productType}" id="product_type">
                <option th:each="productType : ${productTypes}"
                        th:value="${productType.getId}"
                        th:text="${productType.getName}"
                        th:selected="${productType.getId == product.getProductType?.getId}"></option>
            </select>
        </p>
        <div>
            <p>Photos:</p>
            <p th:each="photo : ${photos}">
                <input th:id="|photo_${photo.getId}|" type="checkbox" th:field="*{photos}" th:value="${photo.getId}"
                th:checked="${productPhotos.contains(photo)}">
                <label th:for="|photo_${photo.getId}|" th:text="${photo.getImageName}"></label>
            </p>
        </div>
        <input type="submit" value="Submit">
    </form>
</th>
</body>
</html>