<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="${photo.getImageName}">Title</title>
    <link th:replace="~{_fragments::#bootstrap_link}"/>
</head>
<body>

<header th:replace="~{_fragments :: header}"></header>

<section>
    <div class="container">
        <h2 th:text="|Details of ${photo.imageName}|">Details</h2>
        <div>
            <p th:text="|ID: ${photo.getId}|"></p>
            <p th:text="|Image name: ${photo.imageName}|"></p>
            <p th:text="|Created at: ${photo.createdAt.toGMTString}|"></p>
            <img th:src="@{|../../../../upload/${photo.imageName}|}" th:alt="${photo.imageName}">
            <br>
            <img th:src="@{/zXTy9Tdmfkk.jpg}" alt="artur (static)">
        </div>
        <h2 th:text="|Products related with photo ${photo.imageName}|">Related products</h2>
        <th th:if="${products.isEmpty}">
            <p>No related products</p>
        </th>
        <th th:else>
            <p th:each="product: ${products}">
                <a th:href="@{|/admin/products/${product.getId}|}">
                    <span th:text="${product.getId}">product id</span>.
                    <span th:text="${product.getName}">product name</span>
                </a>
            </p>
        </th>
        <hr>
        <p><a th:href="@{|/admin/photos/${photo.getId}/edit|}">Edit photo</a></p>
        <p><a th:href="@{|/admin/photos/${photo.getId}/delete|}">Delete photo</a></p>
    </div>
</section>

</body>
</html>