<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Photos</title>
    <link th:replace="~{_fragments::#bootstrap_link}"/>
</head>
<body>

<header th:replace="~{_fragments :: header}"></header>

<section>
    <div class="container">
        <h2>Photos</h2>
        <p th:each="el: ${list}">
            <a th:href="@{|/admin/photos/${el.getId}|}">
                <span th:text="${el.getId}">photo id</span>.
                <span th:text="${el.getImageName}">photo name</span>
            </a>
        </p>
        <hr>
        <a th:href="@{/admin/photos/new}">New photo</a>
    </div>
</section>

</body>
</html>