<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Manufacturers</title>
    <link th:replace="~{_fragments::#bootstrap_link}"/>
</head>
<body>

<header th:replace="~{_fragments :: header}"></header>

<section>
    <div class="container">
        <h2>Manufacturers</h2>
        <p th:each="el: ${list}">
            <a th:href="@{|/manufacturers/${el.getId()}|}">
                <span th:text="${el.getId()}">manufacturer id</span>.
                <span th:text="${el.getName()}">manufacturer name</span>
            </a>
        </p>
        <hr>
        <a th:href="@{/manufacturers/new}">New manufacturer</a>
    </div>
</section>

</body>
</html>