<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="${manufacturer.getName()}">Title</title>
</head>
<body>
<h1>Music Shop</h1>
<p><a th:href="@{/static}">Welcome to Music Shop</a></p>
<hr>
<h2 th:text="|${manufacturer.getName()} products|">Manufacturer name</h2>
<th th:if="${products.isEmpty}">
    <p>No products</p>
</th>
<th th:else>
    <p th:each="product: ${products}">
        <a th:href="@{|/products/${product.getId()}|}">
            <span th:text="${product.getId()}">product id</span>.
            <span th:text="${product.getName()}">product name</span>
        </a>
    </p>
</th>
<hr>
<p><a th:href="@{|/manufacturers/${manufacturer.getId}/edit|}">Edit manufacturer</a></p>
<p><a th:href="@{|/manufacturers/${manufacturer.getId}/delete|}">Delete manufacturer</a></p>
</body>
</html>