<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product Types</title>
    <link th:replace="~{_fragments::#bootstrap_link}"/>
</head>
<body>

<header th:replace="~{_fragments :: header}"></header>

<section>
    <div class="container">
        <h2>Product Types</h2>
        <p th:each="el: ${list}">
            <a th:href="@{|/admin/product_types/${el.getId()}|}">
                <span th:text="${el.getId()}">product type id</span>.
                <span th:text="${el.getName()}">product type name</span>
            </a>
        </p>
        <hr>
        <a th:href="@{/admin/product_types/new}">New product type</a>
    </div>
</section>

</body>
</html>