<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Music Store</title>
    <link th:replace="~{_fragments::#bootstrap_link}"/>
</head>
<body>
<header th:replace="~{_fragments :: header}"></header>

<section>
    <div class="container">
        <div th:if="${#authorization.expression('isAuthenticated()')}">
            <h2>Welcome</h2>
            <p>Hello, <b th:text="${#authentication.name}">Name</b>!</p>
        </div>
        <div sec:authorize="hasRole('ADMIN')">
            <h2>Info</h2>
            <p>You are authorized as admin so you can access
                <a th:href="@{/admin}">admin page</a>.
            </p>
        </div>
        <div>
            <h2>Navigation</h2>
            <ul>
                <li><a th:href="@{/profile}">Profile</a></li>
            </ul>
        </div>
    </div>
</section>

</body>
</html>