<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Manufacturer form</title>
</head>
<body>
<h1>Music Shop</h1>
<p><a th:href="@{/}">Welcome to Music Shop</a></p>
<hr>
<h2 th:text="${manufacturer.getName == null} ? 'New manufacturer' : ${manufacturer.getName}">
    Manufacturer name
</h2>
<th th:with="
type=${manufacturer.getName == null} ? 'create' : 'update',
actionCreate='/manufacturers',
actionUpdate=('/manufacturers/' + ${manufacturer.getId}),
actionUrl=(${type == 'create'} ? ${actionCreate} : ${actionUpdate}),
method=(${type == 'create'} ? 'post' : 'patch')
">
    <form action="#"
          th:action="@{${actionUrl}}"
          th:object="${manufacturer}"
          method="post"
          th:method="@{${method}}">
        <p>
            <label for="name">Name:</label>
            <input type="text" id="name" th:field="*{name}">
        </p>
        <input type="submit" value="Submit">
    </form>
</th>
</body>
</html>