<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="${productType.getName}">Title</title>
    <link th:replace="~{_fragments::#bootstrap_link}"/>
</head>
<body>

<header th:replace="~{_fragments :: header}"></header>

<section>
    <div class="container">
        <h2>Description of <span th:text="${productType.getName}">Product Type</span></h2>
        <p th:text="${productType.getDescription}">Product type description</p>
        <h2 th:text="|Products of type ${productType.getName}|">Product type name</h2>
        <th th:if="${products.isEmpty}">
            <p>No products</p>
        </th>
        <th th:else>
            <p th:each="product: ${products}">
                <a th:href="@{|/products/${product.getId}|}">
                    <span th:text="${product.getId}">product id</span>.
                    <span th:text="${product.getName}">product name</span>
                </a>
            </p>
        </th>
        <hr>
        <p><a th:href="@{|/product_types/${productType.getId}/edit|}">Edit product type</a></p>
        <p><a th:href="@{|/product_types/${productType.getId}/delete|}">Delete product type</a></p>
    </div>
</section>

</body>
</html>