<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product type form</title>
</head>
<body>
<h1>Music Shop</h1>
<p><a th:href="@{/}">Welcome to Music Shop</a></p>
<hr>
<h2 th:text="${productType.getName == null} ? 'New product type' : ${productType.getName}">
    Product type name
</h2>
<th th:with="
type=${productType.getName == null} ? 'create' : 'update',
actionCreate='/product_types',
actionUpdate=('/product_types/' + ${productType.getId}),
actionUrl=(${type == 'create'} ? ${actionCreate} : ${actionUpdate}),
method=(${type == 'create'} ? 'post' : 'patch')
">
    <form action="#"
          th:action="@{${actionUrl}}"
          th:object="${productType}"
          method="post"
          th:method="@{${method}}">
        <p>
            <label for="name">Name:</label>
            <input type="text" id="name" th:field="*{name}">
        </p>
        <p>
            <label for="description">Description:</label>
            <textarea id="description" th:field="*{description}" th:text="${productType.getDescription}"></textarea>
        </p>
        <input type="submit" value="Submit">
    </form>
</th>
</body>
</html>