<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product type form</title>
    <link th:replace="~{_fragments::#bootstrap_link}"/>
</head>
<body th:with="
    method=(${isNew} ? 'post' : 'patch'),
    actionCreate='/product_types',
    actionUpdate=('/product_types/' + ${productType.id}),
    actionUrl=(${isNew} ? ${actionCreate} : ${actionUpdate})
">

<header th:replace="~{_fragments :: header}"></header>

<section>
    <div class="container">
        <h2 th:text="${isNew} ? 'New product type' : ${productType.name}"></h2>
        <form class="col g-3" th:action="@{${actionUrl}}" th:object="${productType}" th:method="@{${method}}">
            <div class="col-md-4">
                <label class="form-label" for="name">Name:</label>
                <input class="form-control" type="text" id="name" th:field="*{name}">
                <label class="form-label text-danger" for="name" th:if="${#fields.hasErrors('name')}"
                       th:errors="*{name}">Errors</label>
            </div>
            <div class="col-md-4">
                <label class="form-label" for="description">Description:</label>
                <textarea class="form-control" style="height: 100px" id="description" th:field="*{description}"
                          th:text="${productType.getDescription}"></textarea>
                <label class="form-label text-danger" for="description" th:if="${#fields.hasErrors('description')}"
                       th:errors="*{description}"></label>
            </div>
            <div class="col-md-4 mt-3">
                <input class="btn btn-primary w-100" type="submit" value="Submit">
            </div>
        </form>
    </div>
</section>

</body>
</html>